<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="shashi_employee" class="com.bytemeagain.bean.Employee">
		<property name="name" value="Shashidhar HB"/>
		<property name="email" value="hb.shashi@gmail.com"/>
		<property name="phoneNumber" value="9916265031"/>
	</bean>
           
</beans>